/*Select Location Style    */
 #bodyAdd1{
	
	font-size:30px;
	width: 370px;
	height:170px;
	margin-left:350px;
	margin-top:60px;
	border-radius:10px;
	opacity:.99;
	
}
#blank{
	Background:none;
}

#makeFloat1 {
	float: left;
	margin-left:100px;
}


#bodyAdd1 input[type="submit"]:hover{
	opacity:0.3;
	transition:0.9s;
}	

#bodyAdd1 input[type="submit"]:active{
	opacity:0.3;
}	

#bodyAdd1 input[type="submit"]:focus{
	outline:none;
	
}
#bodyAdd1 input[type="submit"]{
	width:270px;
	height:70px;
	background:Orange;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius:2px;
	color: Black;
	font-family: Derby;
	font-size:32px;
	font-weight: 400;
	padding: 6px;
	margin-top:10px;
	opacity:none;
}
#bodyAdd1 option{
	width:240px;
	height: 50px;
	background: black;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	color: White;
	font-family: 'Exo', sans-serif;
	font-size:16px;
	font-weight:400;
	padding:4px;
	opacity:.8;
	}
	
#bodyAdd1 input[type="hidden"]:focus{
	outline:none;
	border:1px solid rgba (255,255,255,0.9);
}

/*
#bodyAdd input[type="submit"]{
	margin-right: 150px;
	margin-top:100px;
	width:200px;
	height:75px;
	border-radius:10px;
	Background:black;
	color:white;
	font-weight:bold;
}
*/
#SelLoc{
	font-size:38px;
	font-weight:bold;
	color:Orange;
	opacity:.8;
}
img {
	width:250px;
	height:250px;
}
 #bodyAdd2{
	
	font-size:25px;
	Background: orange;
	width: 290px;
	height:700px;
	border-radius:10px;
	opacity:.8;
	border-radius:10px;
	color:black;
}

#addTitle1{
	font-size:30px;
	font-weight:bold;
	margin-left:80px;
	color:black;
}


#bodyAdd2 input[type="hidden"]{
	margin-left:50px;
	width:300px;
	height:300px;
	border-radius:10px;
}



#bodyAdd2 input[type="text"]{
	width:260px;
	height: 50px;
	background: black;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	color: White;
	font-family: 'Exo', sans-serif;
	font-size:16px;
	font-weight:400;
	padding:4px;
	}
	
#bodyAdd2 input[type="password"]{
	width:260px;
	height: 50px;
	background: black;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	color: White;
	font-family: 'Exo', sans-serif;
	font-size:16px;
	font-weight:400;
	padding:12px;
	}
	
#bodyAdd2 input[type="submit"]{
	width:270px;
	height:70px;
	background:#0d0d0d;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius:2px;
	color: white;
	font-family: Derby;
	font-size:32px;
	font-weight: 400;
	padding: 6px;
	margin-top:10px;
	opacity:none;
}

#bodyAdd2 input[type="submit"]:hover{
	opacity:0.8;
}	

#bodyAdd2 input[type="submit"]:active{
	opacity:0.8;;
}	

#bodyAdd2 input[type="text"]:focus{
	outline:none;
	border:1px solid rgba (255,255,255,0.9);
}	

#bodyAdd2 input[type="password"]:focus{
	outline:none;
	border:1px solid rgba (255,255,255,0.9);
}	

#bodyAdd2 input[type="submit"]:focus{
	outline:none;
	
}

#makeFloat {
	float: left;
	margin-left:10px;
}